{% extends "base.html" %}
{% block title %}Race Qualifying{% endblock %}
{% block page %}This is the qualifying page{% endblock %}
{% block content %}
<br>
<h4><center>Qualifying Round 1</center></h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Driver</th>
        <th scope="col">Constructor</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{content['1'][0]}}</td>
        <td>{{content['1'][1]}}</td>
        <td>{{content['1'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{content['2'][0]}}</td>
        <td>{{content['2'][1]}}</td>
        <td>{{content['2'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{content['3'][0]}}</td>
        <td>{{content['3'][1]}}</td>
        <td>{{content['3'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{content['4'][0]}}</td>
        <td>{{content['4'][1]}}</td>
        <td>{{content['4'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{content['5'][0]}}</td>
        <td>{{content['5'][1]}}</td>
        <td>{{content['5'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{content['6'][0]}}</td>
        <td>{{content['6'][1]}}</td>
        <td>{{content['6'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{content['7'][0]}}</td>
        <td>{{content['7'][1]}}</td>
        <td>{{content['7'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{content['8'][0]}}</td>
        <td>{{content['8'][1]}}</td>
        <td>{{content['8'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{content['9'][0]}}</td>
        <td>{{content['9'][1]}}</td>
        <td>{{content['9'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{content['10'][0]}}</td>
        <td>{{content['10'][1]}}</td>
        <td>{{content['10'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>{{content['11'][0]}}</td>
        <td>{{content['11'][1]}}</td>
        <td>{{content['11'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>{{content['12'][0]}}</td>
        <td>{{content['12'][1]}}</td>
        <td>{{content['12'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{content['13'][0]}}</td>
        <td>{{content['13'][1]}}</td>
        <td>{{content['13'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>{{content['14'][0]}}</td>
        <td>{{content['14'][1]}}</td>
        <td>{{content['14'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>{{content['15'][0]}}</td>
        <td>{{content['15'][1]}}</td>
        <td>{{content['15'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">16</th>
        <td>{{content['16'][0]}}</td>
        <td>{{content['16'][1]}}</td>
        <td>{{content['16'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">17</th>
        <td>{{content['17'][0]}}</td>
        <td>{{content['17'][1]}}</td>
        <td>{{content['17'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">18</th>
        <td>{{content['18'][0]}}</td>
        <td>{{content['18'][1]}}</td>
        <td>{{content['18'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">19</th>
        <td>{{content['19'][0]}}</td>
        <td>{{content['19'][1]}}</td>
        <td>{{content['19'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">20</th>
        <td>{{content['20'][0]}}</td>
        <td>{{content['20'][1]}}</td>
        <td>{{content['20'][2]}}</td>
      </tr>
    </tbody>
  </table>
<br>
<br>
<br>
<h4><center>Qualifying Round 2</center></h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Driver</th>
        <th scope="col">Constructor</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{content['1'][0]}}</td>
        <td>{{content['1'][1]}}</td>
        <td>{{content['1'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{content['2'][0]}}</td>
        <td>{{content['2'][1]}}</td>
        <td>{{content['2'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{content['3'][0]}}</td>
        <td>{{content['3'][1]}}</td>
        <td>{{content['3'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{content['4'][0]}}</td>
        <td>{{content['4'][1]}}</td>
        <td>{{content['4'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{content['5'][0]}}</td>
        <td>{{content['5'][1]}}</td>
        <td>{{content['5'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{content['6'][0]}}</td>
        <td>{{content['6'][1]}}</td>
        <td>{{content['6'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{content['7'][0]}}</td>
        <td>{{content['7'][1]}}</td>
        <td>{{content['7'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{content['8'][0]}}</td>
        <td>{{content['8'][1]}}</td>
        <td>{{content['8'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{content['9'][0]}}</td>
        <td>{{content['9'][1]}}</td>
        <td>{{content['9'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{content['10'][0]}}</td>
        <td>{{content['10'][1]}}</td>
        <td>{{content['10'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">11</th>
        <td>{{content['11'][0]}}</td>
        <td>{{content['11'][1]}}</td>
        <td>{{content['11'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">12</th>
        <td>{{content['12'][0]}}</td>
        <td>{{content['12'][1]}}</td>
        <td>{{content['12'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">13</th>
        <td>{{content['13'][0]}}</td>
        <td>{{content['13'][1]}}</td>
        <td>{{content['13'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">14</th>
        <td>{{content['14'][0]}}</td>
        <td>{{content['14'][1]}}</td>
        <td>{{content['14'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">15</th>
        <td>{{content['15'][0]}}</td>
        <td>{{content['15'][1]}}</td>
        <td>{{content['15'][2]}}</td>
      </tr>
    </tbody>
  </table>

<br>
<br>
<br>

<h4><center>Qualifying Round 3</center></h4>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Position</th>
        <th scope="col">Driver</th>
        <th scope="col">Constructor</th>
        <th scope="col">Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>{{content['1'][0]}}</td>
        <td>{{content['1'][1]}}</td>
        <td>{{content['1'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>{{content['2'][0]}}</td>
        <td>{{content['2'][1]}}</td>
        <td>{{content['2'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>{{content['3'][0]}}</td>
        <td>{{content['3'][1]}}</td>
        <td>{{content['3'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>{{content['4'][0]}}</td>
        <td>{{content['4'][1]}}</td>
        <td>{{content['4'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>{{content['5'][0]}}</td>
        <td>{{content['5'][1]}}</td>
        <td>{{content['5'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>{{content['6'][0]}}</td>
        <td>{{content['6'][1]}}</td>
        <td>{{content['6'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>{{content['7'][0]}}</td>
        <td>{{content['7'][1]}}</td>
        <td>{{content['7'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>{{content['8'][0]}}</td>
        <td>{{content['8'][1]}}</td>
        <td>{{content['8'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>{{content['9'][0]}}</td>
        <td>{{content['9'][1]}}</td>
        <td>{{content['9'][2]}}</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>{{content['10'][0]}}</td>
        <td>{{content['10'][1]}}</td>
        <td>{{content['10'][2]}}</td>
      </tr>
    </tbody>
  </table>

{% endblock %}